p{
font-family: 'Shrikhand', cursive;
}
h1{
font-family: 'Shrikhand', cursive;
}
#blue{
    color:blue;
    background:#00ccff;
}
h3{
font-family: 'Shrikhand', cursive;
}
.container{
    color:blue;
    background:#00ccff;
}